/* global styles*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #031319;

  font-family: "Montserrat", sans-serif;
}
section {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

h1 {
  font-size: 4rem;
}
h2 {
  font-size: 3rem;
}
h3 {
  font-size: 1.7rem;
}
p {
  font-size: 1rem;
  color: rgb(107, 107, 107);
}
button {
  border: none;
  outline: none;
  cursor: pointer;
  color: white;
  background-color: #e0c87f;
  font-size: 1.3rem;
  padding: 1rem 4rem;
}
a {
  color: rgb(240, 240, 240);
  text-decoration: none;
}
.app {
  max-width: 1600px;
  margin: auto;
  position: relative;
  overflow: hidden;
}
.scroll-up {
  padding: 1rem;
  border-radius: 100%;
  position: fixed;
  bottom: 1rem;
  right: 1rem;
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.3s ease-in-out;
}
/* navbar styles*/
.navbar {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  position: fixed;
  width: 1600px;
  margin: auto;
  top: 0;
  transition: background 0.2s ease-in-out;
  transition: top 0.4s ease;
}

.logo {
  flex: 1;
}
.logo a {
  width: 30px;
}
.logo-img {
  height: 10%;
  width: 10%;
  align-content: center;
}
.links {
  flex: 2;
  display: flex;
  list-style-type: none;
  justify-content: space-around;
}
.link {
  font-size: 1rem;
  padding: 0.5rem 1rem;
  border-radius: 4px;
  transition: background 0.3s ease-in-out;
}
.burger {
  flex-direction: column;
  cursor: pointer;
  display: none;
  position: absolute;
  top: 1rem;
  right: 1rem;
}
.line {
  margin: 5px;
  width: 40px;
  border: 1px solid rgb(255, 255, 255);
}
.gray {
  background-color: #031319;
  box-shadow: 0px 7px 7px rgba(170, 170, 170, 0.356);
}
.open {
  height: 20vh !important;
}
.active {
  background-color: #e0c87f;
}
/* Slideshow style */
* {box-sizing:border-box}

/* Slideshow container */
.slideshow-container {
  max-width: 100%;
  position: relative;
  margin: auto;
}

/* Hide the images by default */
.mySlides {
  display: none;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}
    /* end of slide show style */



/* main section styles */
.main-header {
  margin-bottom: 3rem;
}

/* featuers sectoin styles */
#VideoGames {
  background-color: #e8e8e8;
  padding: 2rem 0;
}
.games-heading {
  margin-bottom: 3rem;
}
.games-text {
  width: 60rem;
  text-align: center;
  margin-bottom: 3rem;
}
.games-img {
  width: 80%;
  max-height: 70vh;
  object-fit: cover;
  object-position: center;
}
/* better-look section styles */
#eSoprt {
  padding: 5rem 0;
  background-image: url("../assets/eSport.jpg");
}
.eSport-text {
  color: aliceblue;
  text-align:center;
  
}
.eSoprt-header {
  margin-bottom: 3rem;
  color: rgb(255, 255, 255);
}
/* about sections styles */
#about {
  height: 70vh;
  background-color: #e8e8e8;
  margin-bottom: 5rem;
}
/* footer styles */
#footer {
  background-color: #e8e8e8;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 13vh;
}
.about-text {
  margin-top: 4rem;
  width: 40rem;
  text-align: center;
}
/* these are the media querys sectoin to make the website responsive */
@media screen and (max-width: 1450px) {
  .navbar {
    width: 100%;
  }
  .bike-img {
    width: 330px;
  }
}
@media screen and (max-width: 1000px) {
  .images {
    flex-direction: column;
  }
  .bike-img {
    width: 450px;
  }

  h1 {
    font-size: 3rem;
    text-align: center;
  }
  h2 {
    font-size: 2rem;
    text-align: center;
  }

  .features-img {
    width: 95%;
  }
}
/* for the navbar  */
@media screen and (max-width: 800px) {
  h1 {
    font-size: 2rem;
  }
  h2 {
    font-size: 1.5rem;
  }
  .links {
    flex-direction: column;
    align-items: center;

    overflow: hidden;
    transition: height 0.5s ease-in-out;
    height: 0;
  }
  .link {
    margin-left: -20px;
  }
  .logo {
    flex: none;
  }
  .burger {
    display: flex;
  }
  .bike-img {
    width: 350px;
  }
  .features-text {
    width: 20rem;
  }
  .about-text {
    width: 20rem;
  }
}
@media screen and (max-height: 900px) {
  section {
    height: 110vh;
  }
}

@media screen and (max-height: 660px) {
  section {
    height: 150vh;
  }
}
